<h1>Welcome to the admin dashboard</h1>
<p>
  This place you should only be able to access if you are an admin. Here are some admin only actions:
</p>
<button class="btn btn-danger">Delete all users</button>
<button class="btn btn-danger">Crash the server</button>
